<!-- <script
	 src="https://cdn.jsdelivr.net/npm/quizdown@latest/public/build/quizdown.js">
	 </script> -->
<script
	src="/assets/js/quizdown.js">
</script>

<script>


 
 let config = {
	 startOnLoad: true,		    // detect and convert all divs with class quizdown
	 shuffleAnswers: true,		// shuffle answers for each question
	 shuffleQuestions: false,    // shuffle questsions for each quiz
	 nQuestions: undefined,       // dsiplay n questions at random, if shuffleQuestions is true
	 primaryColor: 'steelblue',  // primary CSS color
	 secondaryColor: '#f2f2f2',  // secondary CSS color
	 textColor: 'black',         // text color of some elements
	 locale: 'fr'                // language of the user interface (auto-detect per default)
 };
 quizdown.init(config);</script>
